.home {
    background-color: bisque;
    .titre{
        background-color: rgb(255, 140, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    
}