
.tableur {
    display: block;
    form {
        display:flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;

        label,input {
            text-align: center;
        }
        input{
            margin-bottom: 5px;
        }
        #checkbox {
            text-align: center;
        }
        #USD {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    #recap{
        margin-top: 2rem;
    }
    .values {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 1fr;
        grid-template: 
        'a b c'
        'd e f'
        'g h i';
        gap: 10px;

        .coutTotalAchat {
            grid-area: a;
        }
        .coutTotalAction {
            grid-area: b;
        }
        .investissementTotal {
            grid-area: c;
        }
        .investissementTotalApresVente {
            grid-area: d;
        }
        .plusValue {
            grid-area: e;
        }
        .deviseUSD {
            grid-area: f;
        }
        .v0 {
            grid-area: g;
        }
        
        .v50 {
            grid-area: h;
        }
        .v100 {
            grid-area: i;
        }
        
    }
    
    
}



