node_modules
**/src/_services/api.service.js
package-lock.json
**/back/config/Axios.js

# Editor directories and files
**/.vscode
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
API
